/* GENERAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "RalewayBold";
  src: url(/fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "RalewayReg";
  src: url(/fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "RalewayMed";
  src: url(/fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: "RalewayLight";
  src: url(/fonts/Raleway-Light.ttf);
}

html {
  font-size: 62.5%;
}

body {
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: #fff;
  color: #404040;
  font-family: "RalewayReg", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #404040;
}

/* HEADER */

.main-head {
  position: sticky;
  top: 0px;
  background-color: #fff;
}
#nav-bar {
  /* background-color: aqua; A SUPP APRES */
  display: flex;
  /* width: 90%;
  margin: auto; */
  /* padding: 1rem; */
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
#nav-bar ul {
  display: flex;
  flex: 1 1 30rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: "RalewayLight", sans-serif;
}
#nav-bar .bold {
  font-family: "RalewayBold";
}
/* a:link {
  color: #404040; 
} */

a:hover, a:focus {
  color: #0065FC; 
  font-family: "RalewayMed", sans-serif;
}

#logo {
  flex: 2 1 40rem;
}
#logo img {
  height: 3rem;
}

/* SECTION RECHERCHE */

      /* CHOIX VILLES */

#recherche {
  height: 30vh;
  margin-top: 2rem;
}
#recherche h2 {
  padding: 1rem 0 0.5rem 0;
  font-family: "RalewayBold";
  color: #000;
}
#recherche p {
  margin-bottom: 1rem;
}
.villes {
  /* padding: 1rem 0; */
  display: flex;
  /* flex-wrap: wrap; */
  
}
.icon-input-button {
  position: relative;
  border: 1px solid #F2F2F2;
  border-radius: 10px 0 0 10px;
  font-family: "RalewayBold";
  color: #000;
}
.icon-input-button i, 
input, 
button {
  height: 38px;
  padding: 1.5rem 1.5rem;
  font-size: 100%;
  
}
.icon-input-button i {
  background-color: #F2F2F2;
  font-size: 10.5px;
  border-radius: 10px 0 0 10px;
  position: absolute;
  margin: 0;
  
}
.icon-input-button input {
  margin-left: 3rem;
  border: none;
  outline: none;
  font-family: "RalewayMed";
  color: #000;
  /* font-size: 1.6rem; */
}
.icon-input-button button {
  position: absolute;
  border-radius: 0 10px 10px 0;
  background-color: #0065FC;
  color: white;
  outline: none;
  border: solid 2px #0065FC;
  font-family: "RalewayMed";
  /* font-size: 1.6rem; */
 
}

      /* FILTRES */

.filtres-cat {
  display: flex;
  position: relative;
  margin: 1rem 0;
  justify-content: space-between;
  z-index: 2 1 20px;
}
.filtres-cat button {
  border-radius: 30px;
  border: 1px solid #F2F2F2;
  background: none;
  font-family: "RalewayBold";
  z-index: 1 1 40px;
  /* padding: 1rem; */
  
}
.fa-circle {
  font-size: 2.5rem;
  color: #DEEBFF;
  margin: 0;
  position: relative;
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  color: #0065FC;
  position: absolute;
}
.fa-stack {
  font-size: 0.5rem;
}
i {
  vertical-align: middle;
}

/* SECTION HEBERGEMENTS */

#hebergements {
 
  width: 60%;
  margin-right: 0;
  padding: 4rem 2rem;
  background-color: #F2F2F2;
  border-radius: 30px;
}
.grid-container {
  margin-top: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
}
#hebergements h2 {
  padding: 1rem 0 0.5rem 0;
  font-family: "RalewayBold";
  color: #000;
}
.selection {
  width: 22rem;
  height: 20rem;
  background-color: #fff;
  object-fit: contain;
  align-items: center;
  border-radius: 10px;
}
.selection img{
  width: 20rem;
  margin: 0.5rem 1rem;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.selection h3, p, i {
  margin: 0 0 0.5rem 1rem;
}
.selection i {
  color: #0065FC;
}






