/* GENERAL STYLING */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  color: #404040;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #404040;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* CREATION DE DIVE WHOLE POUR APPLIQUER UNE WIDTH/ HEIGHT ET MARGIN SANS IMPACTER LE FOOTER */
.whole {
  width: 95%;
  height: 100%;
  margin: auto;
}

/* HEADER */

.main-head {
  background-color: #fff;
  padding: 1rem 0;
}
#nav-bar {
  display: flex;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
#nav-bar ul {
  display: flex;
  flex: 1 1 0rem;
}
#nav-bar li {
  margin-left: 5rem;
}
#nav-bar .bold {
  font-weight: 700;
  color: #0065FC;
}
#nav-bar a {
  padding: 2rem;
}
a:hover, a:focus {
  color: #0065FC;
}

#logo {
  flex: 2 1 40rem;
}
#logo img {
  height: 4rem;
}

/* SECTION RECHERCHE */

    /* CHOIX VILLES */

#recherche {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#recherche h2, h3 {
  padding: 1rem 0 0.5rem 0;
  color: #000;
}
#recherche p {
  margin-bottom: 1rem;
}
.villes {
  display: flex;
  width: 40%;
}
 
.fa-search {
  display: none;
}
.icon-input-button {
  position: relative;
  border: 1px solid #F2F2F2;
  border-radius: 12px 0 0 12px;
  color: #000;
  padding-left: 2rem;
}

.icon-input-button i,
input,
button {
  height: 38px;
  font-size: 100%;
}
.icon-input-button i {
  background-color: #F2F2F2;
  padding: 1.4rem;
  border-radius: 9px 0 0 9px;
  position: absolute;
  left: 0px;
  margin: 0;
}
.icon-input-button input {
  margin-left: 4rem;
  border: none;
  outline: none;
  color: #000;
}
.icon-input-button button {
  position: absolute;
  left: 18rem;
  padding: 1rem;
  border-radius: 0 12px 12px 0;
  background-color: #0065FC;
  color: white;
  outline: none;
  border: solid 2px #0065FC;
  font-weight: bold;
}

    /* FILTRES */

.filtres-cat {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 2rem 1.5rem;
}
.filtres-cat h3 {
  margin-right: 2rem;
}  
.btn {
  margin: 0 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  border-radius: 50px;
  border: 1.4px solid #f0f0f0;
  background: none;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.btn:hover {
  background-color: #3e86f1;
  color: #fff;
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  margin: 0;
  padding: 13px;
  border-radius: 50%;
  background-color: #DEEBFF;
  color: #0065FC;
  position: relative;
  right: 10.7px;
  bottom: 0.1rem;
}
.info {
  display: flex;
  margin: 2rem 1.5rem;
}
.info-icon {
  margin: 0 2rem 0 0;
  background-color: #fff;
  color: #0065FC;
  width: 2.1rem;
  height: 2.1rem;
  align-items: center;
  padding: 0.1rem 0.7rem;
  border-radius: 50%;
  border: 0.1rem solid #cfcfcf;
}


/* SECTION HEBERGEMENTS */

#hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container {
  width: 60%;
  height: auto;
  background-color: #F2F2F2;
  border-radius: 30px;
  padding: 3rem;
}
.container-selection {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.selection {
  width: 23.5rem;
  height: 22rem;
  margin: 2rem 0;
  background-color: #fff;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
  position: relative;
}
.selection:hover {
  box-shadow: 5px 5px 5px 5px #cfcfcf;
}

.selection a {
 
  object-fit: contain;
}
.selection img{
  width: 22.5rem;
  height: 14rem;
  margin: 0.5rem 0.5rem;
  align-items: center;
  border-radius: 15px 15px 0 0;
}
.selection-description {
  margin-left: 1rem;
}
.selection-description > h3,
p, i {
  padding: 0.3rem 0;
}
.selection-description i {
  color: #0065FC;
}

/* ASIDE */

#populaires {
  width: 35%;
  height: auto;
  display: flex;
  position: relative;
}
.aside-container {
  background-color: #F2F2F2;
  border-radius: 30px;
  padding: 3rem;
 
}
.aside-container h2> i {
  margin-left: 20rem;
}
.container-popu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popu {
  margin: 2rem 0;
  background-color: #fff;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
  position: relative;
}
.popu:hover {
  box-shadow: 5px 5px 5px 5px #cfcfcf;
}
.popu a {
  display: inline-flex;
  width: 40rem;
  height: 15rem;
  object-fit: contain;
}
.popu img {
  width: 16.5rem;
  height: 14rem;
  margin: 0.5rem 0.5rem;
  border-radius: 15px 0px 0px 15px;
}  
.description {
  margin: 1rem 0 1rem 1rem;
}
.description > h3,
p, i {
  padding: 0.3rem 0;
}
.description i {
  margin-top: 6rem;
  color: #0065FC;
}
.popu2 i {
  margin-top: 4.5rem;
}
i.grey {
  color: #cfcfcf;
}

.more {
padding: 2rem 0;
}


/* SECTION ACTIVITES */

#activites {
  width: 100%;
  height: auto;
  margin: 4rem 0;
}
#activites h2 {
  width: 100%;
  padding: 2rem 0;
}
.container-cartes {
  height: auto;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 21rem 21rem;
  gap: 30px;
}
.carte {
  height: max-content;
}
.carte a:hover {
  box-shadow: 5px 5px 5px 5px #cfcfcf;
}
.carte h3 {
  margin-left: 2.5rem;
  padding: 1rem 0;
}
.carte a {
  display: block;
  width: 32rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
  object-position: inherit;
}
.carte img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.port img {
  width: 100%;
  height: 41.5rem;
}
.port {
  grid-row: 1 / 2;
}
.pomegues img {
  width: 100%;
  height: 20rem;
}
.frioul {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
}
.frioul img {
  width: 100%;
  height: 13rem;
}
.calanques img {
  width: 100%;
  height: 41.5rem;
}
.notre-dame img {
  width: 100%;
  height: 16.5rem;
}
.longchamp {
  grid-column: 4;
  align-self: end;
}
.longchamp img {
  width: 100%;
  height: 16.5rem;
}

/* FOOTER */

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(239, 239, 239);
}
footer h3,
li {
  margin-bottom: 1rem;
}
.a-propos {
  padding: 3rem 3rem;
}
.nos-herbergements {
  padding: 3rem 0 3rem 30rem;
}
.assistance {
  padding: 3rem 0 3rem 30rem;
}

 
/* MEDIA QUERIES */

@media screen and (min-width: 1024px){
  #nav-bar a:hover {
    border-top: solid 0.3rem #0065FC;
  }

}
@media screen and (min-width: 737px) and (max-width: 1024px){

  /* HEADER ET NAV-BAR */
  #logo {
    flex: 2 1 27rem;
  }
  #nav-bar {
    min-height: 7vh;
  }
  #nav-bar a:hover {
    border-top: solid 0.3rem #0065FC;
  }

  /* FILTRES */

  .filtres-cat {
    margin: 2rem 0;
  }
  .btn {
    padding-right: 2rem;
  }
  .info {
    margin: 0 0 1rem 0;
  }
    /* HEBERGEMENTS */

    .container {
      width: 100%;
      order: 2;
      margin-top: 3rem;
    }
    .container-selection {
      justify-content: space-around;
    }
    #populaires {
      width: 100%;
      order: -1;
    }
    .aside-container h2 > i {
      margin-left: 11rem;
    }
    .popu a {
      width: 31rem;
      height: 15rem;
      object-fit: contain;
    }
   .popu img {
     width: 13rem;
     height: 14rem;
     object-fit: cover;
   }
   .popu3 i {
     margin-top: 4.5rem;
   }

   /* ACTIVITES */

  #activites {
    margin: 0;
  }
  #activites h2 {
    padding-left: 3rem;
  }
  .container-cartes {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
  .carte a {
    width: 31rem;
  }
  .carte img {
    width: 100%;
    height: 13rem;
  }
  .frioul,
  .longchamp {
    align-self: unset;
  }

  /* FOOTER */

  .nos-herbergements {
    padding: 3rem 0 3rem 11rem;
  }
  .assistance {
    padding: 3rem 0 3rem 11rem;
  }


}

@media screen and (max-width: 736px){

/* HEADER ET NAV-BAR */

  .whole {
    width: 100%;
    margin: unset;
  }
  
  .main-head {
    border-bottom: 0.3rem solid #F2F2F2;
  }

  #logo {
    position: absolute;
    top: 1rem;
    left: 3rem;
  }
  #nav-bar ul {
    display: flex;
    justify-content: space-around;
  }
  #nav-bar{
    min-height: 7vh;
  }
  #nav-bar li {
    margin: 5rem 0 0 0;
  }
  #nav-bar a {
    font-size: 1.5rem;
    padding: 1rem 3rem;
  }
  #nav-bar a:hover {
    border-bottom: solid 0.3rem #0065FC;
    border-top: none; 
  }
  .one a {
    padding: 2rem 4rem;
  }
  .two a {
    padding: 2rem 5rem;
  }
  .bold {
    position: absolute;
    top: 0.5rem;
    left: 23rem;
  }
  #nav-bar .three>a {
    border: none;
    padding: 2rem;
  }

  /* SECTION RECHERCHE */

  #recherche {
    margin: 1rem 2.4rem;
    justify-content: center;
  }

  /* VILLES */

  .villes {
    width: 100%;
    margin-top: 2rem;
  }
  input {
    font-weight: bold;
  }
  .btn-text {
    display: none;
  }
  .icon-input-button button {
    border-radius: 10px;
    left: 18rem;
  }
   .fa-search {
    display: contents;
    color: white;
    padding: 2rem;
    font-size: 2rem;
  }

  /* FILTRES */

  .filtres-cat {
    width: 100%;
    margin: unset;
  }
  .filtres-cat h3 {
    padding-right: 2rem;
    margin-top: 1rem;
  }
  .eco-fam {
    display: inline-flex;
  }
  .btn {
    margin: 0.5rem;
  }

  /* HEBERGEMENTS */

  #hebergement {
    flex-direction: column;
  }
  .container {
    background-color: #fff;
    flex: 0 1 600px;
    order: 2;
    height: auto;
    padding: inherit;
  }
  .container h2 {
    margin: 2rem 0 1rem 3rem;
  }
  .container-selection {
    justify-content: center;
  }
  .selection {
    width: 31rem;
    height: 18rem;
    margin: 1rem 0;
  }
  .selection img {
    height: 11rem;
    width: 30rem;
  }
  .selection-description > h3,
  p, i {
    padding: unset;
  }
  .more {
    padding: unset;
  }

  /* ASIDE POPULAIRES */
    
  #populaires {
    order: -1;
    width: 100%;
    align-items: center;
  }
  .aside-container {
    border-radius: unset;
    padding: 2rem 0; 
  }
  .aside-container h2 {
    margin: 1rem 3rem;
  }
  .aside-container h2>i {
    margin-left: 9rem;
  }
  .container-popu {
    justify-content: space-evenly;
  }
  .popu {
    margin: 1rem 0;
  }
  .popu a {
    width: 31rem;
    height: 15rem;
    object-fit: contain;
  }
 .popu img {
   width: 13rem;
   height: 14rem;
   object-fit: cover;
 }
 .description {
   margin: 0.5rem 0.5rem 0 0.5rem;
 }
 .description i {
   margin-top: 6rem;
 }
 .popu1 i {
   margin-top: 7.5rem;
 }
 

  /* ACTIVITES */

  #activites {
    margin: 0;
  }
  #activites h2 {
    padding-left: 3rem;
  }
  .container-cartes {
    display:flex;
    flex-direction:column;
    margin-bottom: 3rem;
    justify-content: space-evenly;
    align-items: center;
  }
  .carte a {
    width: 31rem;
  }
  .carte img {
    width: 100%;
    height: 13rem;
  }
  .frioul,
  .longchamp {
    align-self: unset;
  }

  /* FOOTER */

  footer {
    flex-direction: column;
  }

  .a-propos {
    padding: 1rem 3rem;
  }
  .nos-herbergements {
    padding: 1rem 3rem;
  }
  .assistance {
    padding: 1rem 3rem;
  }

}