/* GENERAL STYLING */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: #fff;
  color: #404040;
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #404040;
}
li {
  list-style: none;
}
/* img {
  width: 20rem;
  height: 14rem;
  
} */

/* HEADER */

.main-head {
  position: sticky;
  top: 0px;
  background-color: #fff;
}
#nav-bar { 
  display: flex;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
#nav-bar ul {
  display: flex;
  flex: 1 1 30rem;
  justify-content: space-around;
  align-items: center;
}
#nav-bar .bold {
  font-weight: 700;
}
a:hover, a:focus {
  color: #0065FC; 
}
#logo {
  flex: 2 1 40rem;
}
#logo img {
  height: 3rem;
}

/* SECTION RECHERCHE */

      /* CHOIX VILLES */

#recherche {
  height: 30vh;
  margin-top: 2rem;
}
#recherche h2 {
  padding: 1rem 0 0.5rem 0;
  color: #000;
}
#recherche p {
  margin-bottom: 1rem;
}
.villes {
  /* padding: 1rem 0; */
  display: flex;
  /* flex-wrap: wrap; */
  
}
.icon-input-button {
  position: relative;
  border: 1px solid #F2F2F2;
  border-radius: 12px 0 0 12px;
  color: #000;
}

.icon-input-button i, 
input, 
button {
  height: 38px;
  font-size: 100%;
}
.icon-input-button i {
  background-color: #F2F2F2;
  /* font-size: 10.5px; */
  padding: 1.4rem;
  border-radius: 9px 0 0 9px;
  position: absolute;
  left: 0px;
  margin: 0;
  
}
.icon-input-button input {
  margin-left: 4rem;
  border: none;
  outline: none;
  color: #000;
  /* font-size: 1.6rem; */
}
.icon-input-button button {
  position: absolute;
  padding: 1rem;
  border-radius: 0 12px 12px 0;
  background-color: #0065FC;
  color: white;
  outline: none;
  border: solid 2px #0065FC;

  /* font-size: 1.6rem; */
}

      /* FILTRES */

.filtres-cat {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 1rem 0;
  justify-content: space-between;
}
.filtres-cat button {
  margin: 0;
  padding-left: 1rem; 
  padding-right: 1rem;
  border-radius: 50px;
  border: 1px solid #F2F2F2;
  background: none;
  font-weight: 700;
  justify-content: center;
  color: black;
}
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  margin: 0;
  padding: 13px;
  border-radius: 50%;
  background-color: #DEEBFF;
  color: #0065FC;
  position: relative;
  right: 10.5px;
}


/* SECTION HEBERGEMENTS */

#hebergements {
  min-width: 90%;
  max-height: fit-content;
  display: flex;
  /* margin-right: 5rem; */
}

.container {
  /* margin: 0; */
  width: max-content;
  height: fit-content;
  margin-right: 5rem;
  padding: 4rem 2rem;
  background-color: #F2F2F2;
  border-radius: 30px;
}
.container h2 {
  padding: 1rem 0 0.5rem 0;
  font-family: "Raleway";
  color: #000;
}
.container-selection {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
/*Modification 18 mai : rajout d'un margin, justify-items et justify content*/
.selection {
  width: 22rem;
  height: 20rem;
  margin: 0.5rem;
  background-color: #fff;
  object-fit: contain;
  align-items: center;
  border-radius: 10px;
  justify-items: center;
  justify-content: space-around;
}
.selection img{
  width: 20rem;
  height: 14rem;
  margin: 0.5rem 1rem;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.selection h3, p, i {
  margin: 0 0 0.5rem 1rem;
}
.selection i {
  color: #0065FC;
}

/* ASIDE */

#populaires {
  max-width: fit-content;
  max-height: fit-content;
  /* margin: 0; */
  padding: 4rem 2rem;
  background-color: #f2f2f2;
  border-radius: 30px;
  position: relative;
  /* left: 600px;
  bottom: 80rem; */
}
.container-popu {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.popu-h2-i {
  display: inline-flex;
}
.popu {
  width: 30rem;
  height: 20rem;
  margin: 1rem;
  background-color: #fff;
  object-fit: contain;
  align-items: center;
  border-radius: 10px;
  justify-items: center;
  justify-content: space-around;
  cursor: pointer;
  display: inline-table;
  flex-direction: row;
}
.popu img{
  display: inline;
  width: 15rem;
  margin: 0.5rem;
  align-items: center;
  border-radius: 10px 0 0 10px;
  object-fit: contain;
}
.popu h3, p, i {
  margin: 0 0 0.5rem 1rem;
  
}
.popu i {
  color: #0065FC;
}
